.contacts {
    background-image: linear-gradient(#FFFFFF 24%, #FFF5F6 1%);
    padding-top: 30px;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(#FFFFFF 50%, #FFF5F6 1%);
        padding-top: 40px;
    }

    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(#FFFFFF 24%, #FFF5F6 1%);
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__list {
        padding: 0;
        margin: 0;

        @media screen and (min-width: 768px) {
            display: flex;
        }
    }

    &__item {
        background-color: var(--primary-bcg-color);
        padding: 40px 32px;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;

        @media screen and (min-width: 320px) {
            width: 280px;
        }

        @media screen and (min-width: 768px) {
            width: 224px;
        }

        @media screen and (min-width: 1200px) {
            width: 368px;
            padding: 40px;
        }
    }

    &__item+&__item {
        margin-top: 20px;

        @media screen and (min-width: 768px) {
            margin-top: 0;
            margin-left: 32px;
        }
    }

    &__cafe {
        width: 80px;
        background-color: var(--second-product-bcg);
        border-radius: 4px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.86;
        display: flex;
        justify-content: center;
        color: var(--primary-headlines-color);

        @media screen and (min-width: 768px) {
            font-size: 16px;
            width: 73px;
            height: 28px;
        }
    }

    &__foodtruck {
        width: 130px;
        background-color: var(--third-product-bcg);
        border-radius: 4px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.86;
        display: flex;
        justify-content: center;
        color: var(--primary-headlines-color);

        @media screen and (min-width: 768px) {
            font-size: 16px;
            width: 138px;
            height: 28px;
        }
    }

    &__location {
        padding-bottom: 24px;
        margin-top: 20px;
        border-bottom: 1px solid #E1E1E1;

        @media screen and (min-width: 768px) {
            margin-top: 32px;
            padding-bottom: 32px;
        }
    }

    &__city {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.86;
        color: var(--secondary-text-color);
        margin-top: 0;
        margin-bottom: 8px;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 16px;
        }
    }

    &__description {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        color: var(--text-color);
        margin: 0;

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.66;
        }

        @media screen and (min-width: 1200px) {
            font-size: 16px;
            line-height: 1.83;
        }
    }

    &__day {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.83;
        color: var(--secondary-text-color);

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.86;
        }

        @media screen and (min-width: 1200px) {
            font-size: 16px;
        }
    }

    &__work-time {
        margin-top: 24px;
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #E1E1E1;

        @media screen and (min-width: 768px) {
            margin-top: 32px;
            padding-bottom: 32px;
        }
    }

    &__time {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.83;
        color: var(--accent-color);
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.86;
            margin-bottom: 12px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 16px;
        }
    }

    &__address {
        margin-top: 24px;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            margin-top: 32px;
        }
    }

    &__tel {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        color: var(--text-color);

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.83;
        }

        @media screen and (min-width: 1200px) {
            font-size: 16px;
        }

        &:hover,
        &:focus {
            color: var(--hover-color);
        }
    }

    &__mail {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        color: var(--text-color);

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.83;
        }

        @media screen and (min-width: 1200px) {
            font-size: 16px;
        }

        &:hover,
        &:focus {
            color: var(--hover-color);
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 32px;

        @media screen and (min-width: 768px) {
            margin-top: 60px;
            justify-content: center;
        }

        &__location {
            width: 161px;
            height: 44px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--interactive-color);
            border-radius: 22px;
            border: none;
            padding: 0;
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.3;
            color: var(--primary-headlines-color);

            @media screen and (min-width: 768px) {
                margin-bottom: 0;
                margin-right: 14.5px;
                width: 191px;
            }

            @media screen and (min-width: 1200px) {
                margin-bottom: 0;
                margin-right: 12px;
                width: 198px;
            }
        }

        &__image-location {
            margin-top: 3px;
            margin-left: 10px;
        }

        &__franchise {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 161px;
            height: 44px;
            background-color: var(--primary-bcg-color);
            border-radius: 22px;
            border: none;
            padding: 0;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.3;
            cursor: pointer;
            color: var(--interactive-color);

            @media screen and (min-width: 768px) {
                width: 174px;
            }

            @media screen and (min-width: 1200px) {
                width: 168px;
            }

            &:hover {
                background-color: var(--btn-hover-color);
            }
        }

        &__image-franchise {
            margin-top: 3px;
            margin-left: 10px;

        }
    }
}

.backdrop-location {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    z-index: 101;
    overflow-y: scroll;
    transition: opacity var(--transition-duration) var(--transition-timing-function);

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

    }

    &.is-hidden .location-modal {

        transform: translate(-50%, -50%) scale(0.9);
        transition: opacity var(--transition-duration) var(--transition-timing-function),
            transform var(--transition-duration) var(--transition-timing-function),
            scale var(--transition-duration) var(--transition-timing-function);
    }

}


.location-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    overflow-y: scroll;
    background-color: #FFF5F6;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 20px;
    transition: opacity var(--transition-duration) var(--transition-timing-function),
        transform var(--transition-duration) var(--transition-timing-function),
        scale var(--transition-duration) var(--transition-timing-function),
        background-color var(--transition-duration) var(--transition-timing-function);


    .button-close {
        position: absolute;

        width: 30px;
        height: 30px;
        padding: 0;
        cursor: pointer;

        top: 10px;
        right: 10px;
        background-color: var(--primary-bcg-color);
        border: 2px solid var(--interactive-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--interactive-color);
    }

    .button-close:hover,
    .button-close:focus {
        background-color: var(--btn-hover-color);
        transition: background-color var(--transition-duration) var(--transition-timing-function);
    }

    .modal-title {
        color: var(--third-text-color);
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.15;
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .modal-list {
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;

        }

    }

    .modal-item {
        background-color: #FFF5F6;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        width: 224px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 768px) {
            width: 224px;
            height: 450px;
        }



    }

    .modal-item+.modal-item {
        margin-top: 15px;

        @media screen and (min-width: 768px) {
            margin-top: 0;
            margin-left: 15px;

        }

        @media screen and (min-width: 1200px) {
            margin-top: 0;
            margin-left: 15px;

        }
    }

    iframe {
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        height: 100%;

    }

    .modal-city {
        color: var(--accent-color);
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 26px;
        line-height: 1.15;
        padding: 5px;
        margin: 0;
        margin-bottom: 10px;

    }

}