.card {
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 320px) {
        width: 280px;
    }

    @media screen and (min-width: 768px) {
        width: 620px;
    }

    @media screen and (min-width: 1200px) {
        width: 968px;
    }
}

.card__customer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 16px;
    }
}

.card__reviews {
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 74px;
    background-color: var(--bgc-customer-reviews);
}


.card__lines {
    background: repeating-linear-gradient(#fafafa 0px, #fafafa 31px, #e1e1e1 31px, #e1e1e1 32px);
}

.card__text {
    margin-right: auto;
    margin-left: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 255%;
    text-align: center;
    color: var(--secondary-text-color);


    @media screen and (min-width: 320px) {
        width: 157px;
    }

    @media screen and (min-width: 768px) {
        width: 514.12px;
        font-size: 14px;
        line-height: 216%;
        letter-spacing: 0.04em;
    }

    @media screen and (min-width: 1200px) {
        width: 750px;
        font-size: 16px;
        line-height: 186%;
    }

}