.card {
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 320px) {
        width: 280px;
    }

    @media screen and (min-width: 768px) {
        width: 620px;
    }

    @media screen and (min-width: 1200px) {
        width: 968px;
    }
}

.card__customer-photo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 16px;
    }
}

.card__reviews {
    position: relative;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 36px;
    padding-top: 43px;
    background-color: var(--bgc-customer-reviews);

    &::before {
        display: block;
        position: absolute;
        top: 30;
        left: 53;
        content: '';
        width: 54px;
        height: 40px;
        background-image: url(../images/quotes.svg);
    }



    /*     &::after {
        display: block;
        content: '';
        width: 32px;
        height: 4px;
        background-image: url(../images/Ellipse5.svg);
        background-position: left center;
        background-repeat: repeat-x;
    } */

    @media screen and (min-width: 320px) {
        width: 280px;
    }

    @media screen and (min-width: 768px) {
        width: 620px;
        margin-bottom: 24px;

        &::before {
            display: block;
            position: absolute;
            top: 20;
            left: 6;
            content: '';
            width: 60.35px;
            height: 40px;
            background-image: url(../images/quotes.svg);
            background-repeat: no-repeat;
        }
    }

    @media screen and (min-width: 1200px) {
        width: 968px;
        margin-bottom: 36px;

        &::before {
            display: block;
            position: absolute;
            top: 32;
            left: 72;
            content: '';
            width: 54px;
            height: 40px;
            background-image: url(../images/quotes.svg);
        }

    }
}

.card__lines {
    margin-right: auto;
    margin-left: auto;
    max-width: 180px;
    padding-bottom: 17px;
    background: repeating-linear-gradient(#fafafa 0px, #fafafa 30px, #e1e1e1 30px, #e1e1e1 31px);

    @media screen and (min-width: 768px) {
        max-width: 608px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 821px;
    }
}

.card__text {
    position: relative;
    max-width: 157px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 255%;
    text-align: center;
    color: var(--secondary-text-color);

    @media screen and (min-width: 768px) {
        max-width: 514.12px;
        font-size: 14px;
        line-height: 216%;
        letter-spacing: 0.04em;
    }

    @media screen and (min-width: 1200px) {
        max-width: 750px;
        font-size: 16px;
        line-height: 186%;
    }

}

.card__customer {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    text-align: center;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 20px;
    }
}