
.backdrop-hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 93px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity var(--transition-duration) var(--transition-timing-function);
    z-index: 101;
    overflow-y: scroll;
}

.backdrop-hero.is-hidden-hero .modal {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    transition: opacity var(--transition-duration) var(--transition-timing-function),
        transform var(--transition-duration) var(--transition-timing-function),
        scale var(--transition-duration) var(--transition-timing-function);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: calc(100vw - 60px);
    padding: 20px;

    @media screen and (min-width: 480px) {
        padding: 40px;
        width: 400px;
        height: 500px;
    }

    opacity: 1;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    background-color: var(--primary-bcg-color);

    transition: opacity var(--transition-duration) var(--transition-timing-function),
    transform var(--transition-duration) var(--transition-timing-function),
    scale var(--transition-duration) var(--transition-timing-function), 
    background-color var(--transition-duration) var(--transition-timing-function);


    &-close-btn {
        width: 30px;
        height: 30px;
        top: 10px;
        right: 10px;
        background-color: var(--primary-bcg-color);
        border: 2px solid var(--interactive-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        fill: var(--interactive-color);
    }

    &-title {
        margin-top: 15px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: var(--interactive-color);
        text-align: center;
        margin-bottom: 12px;

        @media screen and (min-width: 768px) {
            margin-top: 0px;
        }
    }

    &-input {
        border: none;
        border-radius: 25px;
        width: 100%;
        height: 40px;
        background-color: transparent;
        background-color: rgba(241, 238, 238, 0.93);
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: #212121;
        padding-left: 16px;
        outline: none;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    &-field {
        margin-bottom: 10px;
    }

    &-field:last-child {
        margin-bottom: 0;
    }

    &-input::placeholder {
        font-size: 14px;
        line-height: 1.17x;
        letter-spacing: 0.01em;
        color: var(--interactive-color);
    }
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--btn-hover-color);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.model-text-area {
    border: none;
    border-radius: 25px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    outline: none;
    background-color: rgba(241, 238, 238, 0.93);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.model-text-area::placeholder {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--interactive-color);
}

.input-wrap {
    position: relative;
}


.is-hidden-hero {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal-btn {
    font-family: var(--font-family-primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primary-headlines-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    min-width: 200px;
    height: 50px;
    border: none;
    transition: background-color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
        background-color: var(--hover-color);
        transition: background-color var(--transition-duration) var(--transition-timing-function);
    }
}

// Footer

.footer {
    
    background-color: var(--secondary-bcg-color);
    padding-top: 20px;
    padding-bottom: 3px;

    @media screen and (min-width:1200px) {
        padding-top: 30px;
        padding-bottom: 4px;
    }

    &__wrapper {
        

        @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        }

        @media screen and (min-width:1200px) {
        margin-bottom: 60px;
        }

        
    }

    &__title {
    font-family: var(--font-family-secondary);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--accent-color);
    width: 232px;

        @media screen and (min-width:768px) {
        font-size: 26px;
        line-height: 1.15;
        width: 340px;
        }

        @media screen and (min-width:1200px) {
        font-size: 30px;
        line-height: 1.13;

        width: 100%;
        }

        &-indent {
        margin-bottom: 16px;

        @media screen and (min-width:768px) and (max-width:1200px) {
        margin-bottom: 12px;
        }

    }
    }

    &__title--accent {
    font-family: var(--font-family-secondary);

    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-transform: uppercase;

    color: var(--hover-color);
    width: 200px;

        @media screen and (min-width:768px) {
        font-size: 48px;
        line-height: 1.15;
        letter-spacing: 0.06em;
        width: 340px;
        }

        @media screen and (min-width:1200px) {
        font-size: 58px;
        line-height: 1.14;

        width: 100%;
        }
    }

    
}

.title__wrapper {
    margin-bottom: 40px;

    @media screen and (min-width:768px) {
    margin-bottom: 0;
    }
}

.social__list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;

    }

.social__thumb {
    
    margin-top: 60px;
}

.social__item {
    width: 32px;
    height: 32px;

    &:not(:last-child) {
    margin-right: 28px;
    }
}

.social__link {
    display: block;
    width: 100%;
    height: 100%;
}

.social__icon {
    fill: var(--accent-color);

    &:hover,
    &:focus {
    fill: var(--hover-color);
    }
}

.contacts__wrapper {
    font-family: var(--font-family-primary);

    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    text-align: right;
    margin-bottom: 65px;

    @media screen and (min-width:768px)  {
    font-size: 14px;
    margin-bottom: 0;
    }

    @media screen and (min-width:1200px) {
    font-size: 16px;
    margin-bottom: 0;
    }
}

.footer__contacts {
    display: inline-block;

    color: var(--secondary-text-color);
}

.footer__link {
    display: inline-block;

    color: var(--hover-color);
}

.copyright-wrapper {
    position: relative;
    max-width: 1200px;
    
}

.copyright-wrapper::before {
    position: absolute;
    top: -16px;
    left: -20px;
    width: calc(100% + 40px);
    content: '';
    display: block;
    border: 1px solid #e1e1e1;

    @media screen and (min-width:768px) {
    top: -8px;
    left: -16px;
    width: calc(100% + 32px);
    }

    @media screen and (min-width:1200px) {
    top: -7px;
    left: 0;
    width: 100%;
    }
        }

.footer__copyright {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    font-family: var(--font-family-primary);

    font-weight: 700;
    
    line-height: 1.86;
    letter-spacing: 0.02em;

    color: #907e82;
    text-align: center;

    @media screen and (min-width:768px) {
    width: 278px;
    }
} 

.back-to-top {
    position: fixed;
    left: calc((100% - 50px) / 2);
    bottom: 50px;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 50%;
    background-color: var(--accent-color);
    opacity: 0.8;
    display: none;
    @media screen and (min-width:768px) {
        bottom: 40px;
    }
}

.back-to-top:hover,
.back-to-top:focus {
    background-color: var(--hover-color);
    outline: none;
}

.back-to-top::before,
.back-to-top::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back-to-top::before {
    width: 5px;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: var(--primary-headlines-color);
}

.back-to-top::after {
    width: 15px;
    height: 15px;
    transform: translate(-50%, -70%) rotate(45deg);
    border-top: 5px solid var(--primary-headlines-color);
    border-left: 5px solid var(--primary-headlines-color);
    border-radius: 4px;
}
