.container_gallery {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 320px)  {
            width: 320px;
        }
                @media screen and (min-width: 768px) {
                    width: 768px;
                }
                                @media screen and (min-width: 1200px) {
                                    width: 1200px;
                                    padding-left: 93px;
                                    padding-right: 94px;
                                }
}

.gallery {
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (min-width: 768px) {
        padding-top: 32px;
            padding-bottom: 30px;
        }
                @media screen and (min-width: 768px) and (max-width: 1199px){
                    background-image: linear-gradient(to bottom,
                                var(--secondary-bcg-color) 55%,
                                var(--primary-headlines-color) 1%);
                }
    @media screen and (min-width: 1200px) {
        padding-top: 60px;
            padding-bottom: 60px;
    }

    background-image: linear-gradient(
        to bottom,
        var(--secondary-bcg-color) 27.09%,
        var(--primary-headlines-color) 1%
    );
}
.gallery-list__list-img {
        
        height: fit-content;

        border-radius: 8px;
        overflow: hidden;
        width: 44px;
        

        @media screen and (min-width: 768px) {
            border-radius: 20px;
            
            width: 105px;
        }
                @media screen and (min-width: 1200px) {
                    
                    width: 138px;
                }
}
.gallery-list__list-imgbig {
    width: 90px;
    @media screen and (min-width: 768px) {
            
            width: 215px;
        }
    
        @media screen and (min-width: 1200px) {
    
            width: 283px;
        }
}
.card {
    margin: 0;
    padding: 0;
}


.masonry__thumb > img {
    width: 100%;
    height: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.gallery-list {
    display: grid;
    justify-content: center;

    grid-gap: 2.52px;

    grid-template-rows: [row1-start] 18.31px [row2-start] 4.73px [row3-start] 0.64px [row4-start] 11.36px [row5-start] 1.27px [row6-start] 16.78px [row7-start] 4.11px [row8-start] 1.26px [row9-start] 7.98px [row10-start] 0.79px [row11-start] 0.6px [row12-start] 18.07px [row13-start] 4.11px [row14-start] 1.26px [row15-start] 12px[row16-end];
    grid-template-columns: [col1-start] 44px [col2-start] 44px [col3-start] 44px [col4-start] 44px [col5-start] 44px [col6-start] 44px [col7-start] 44px [col8-end];

    height: 136px;


    @media screen and (min-width: 768px) {

        grid-gap: 6.05px;

        grid-template-rows: [row1-start] 43.87px [row2-start] 11.35px [row3-start] 1.51px [row4-start] 27.24px [row5-start] 3.03px [row6-start] 37.82px [row7-start] 9.83px [row8-start] 3.03px [row9-start] 27.09px [row10-start] 0.01px [row11-start] 0.01px [row12-start] 35.82px [row13-start] 9.83px [row14-start] 3.03px [row15-start] 28.74px[row16-end];
        grid-template-columns: [col1-start] 105px [col2-start] 105px [col3-start] 105px [col4-start] 105px [col5-start] 105px [col6-start] 105px [col7-start] 105px [col8-end];

        height: 326px;
    }

    @media screen and (min-width: 1200px) {

        grid-gap: 8px;

        grid-template-rows: [row1-start] 57.85px [row2-start] 14.94px [row3-start] 1.98px [row4-start] 35.90px [row5-start] 3.97px [row6-start] 49.87px [row7-start] 12.95px [row8-start] 3.97px [row9-start] 35.24px [row10-start] 0.01px [row11-start] 0.01px [row12-start] 46px [row13-start] 12.95px [row14-start] 1.26px [row15-start] 45.89px[row16-end];
        grid-template-columns: [col1-start] 138px [col2-start] 138px [col3-start] 138px [col4-start] 138px [col5-start] 138px [col6-start] 138px [col7-start] 138px [col8-end];

        height: 430px;
    }

    margin-block-start: 0;
    margin-block-end: 0;



}
.gread__item {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gread__item:hover {
    transform: rotate(1turn) scale(1.1);
}
.gread__item-1 {
    grid-row-start: row5-start;
    grid-column-start: col1-start;
    grid-row-end: row10-end;
    grid-column-end: col2-end;
}
.gread__item-2 {
    grid-row-start: row3-start;
    grid-column-start: col2-start;
    grid-row-end: row8-end;
    grid-column-end: col3-end;
}
.gread__item-3 {
    grid-row-start: row8-start;
    grid-column-start: col2-start;
    grid-row-end: row14-end;
    grid-column-end: col3-end;
}
.gread__item-4 {
    grid-row-start: row1-start;
    grid-column-start: col3-start;
    grid-row-end: row11-end;
    grid-column-end: col5-end;
}
.gread__item-5 {
    grid-row-start: row11-start;
    grid-column-start: col3-start;
    grid-row-end: row16-end;
    grid-column-end: col4-end;
}
.gread__item-6 {
    grid-row-start: row4-start;
    grid-column-start: col5-start;
    grid-row-end: row9-end;
    grid-column-end: col6-end;
}
.gread__item-7 {
    grid-row-start: row9-start;
    grid-column-start: col5-start;
    grid-row-end: row15-end;
    grid-column-end: col6-end;
}
.gread__item-8 {
    grid-row-start: row2-start;
    grid-column-start: col6-start;
    grid-row-end: row7-end;
    grid-column-end: col7-end;
}
.gread__item-9 {
    grid-row-start: row7-start;
    grid-column-start: col6-start;
    grid-row-end: row13-end;
    grid-column-end: col7-end;
}
.gread__item-10 {
    grid-row-start: row6-start;
    grid-column-start: col7-start;
    grid-row-end: row12-end;
    grid-column-end: col8-end;
}
.masonry__thumb img {
border-radius: 8px;
    



    @media screen and (min-width: 768px) {
        border-radius: 20px;
        
    }
}

