img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
}

.header__nav-list .current {
    color: var(--hover-color);
}

.link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ellipse {
    display: none;
    position: absolute;
    top: 83px;
    left: 36px;

    width: 346px;
    height: 344px;
    border-radius: 50%;

    background: var(--accent-color);

    @media (min-width: 768px) {
        display: block;
        width: 335px;
        height: 333px;
    }
    
}

.header,
.hero {
    background: var(--hero-bcg-color);

    @media (min-width: 768px) and (max-width: 1199px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* Header */

.header__position {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 8px;

    @media (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 10px;
    }

    @media (min-width: 1200px) {
        padding-top: 37px;
        padding-bottom: 20px;
    }
}

.header__nav-list {
    @media (min-width: 1200px) {
        display: flex;
        gap: 35px;
    }
}

.header__nav-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    color: var(--primary-bcg-color);

    @media (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.3;
    }
}

.header__nav-part {
    padding: 12px 0px;

    &:nth-child(odd) {
        border-top: 1px solid #E18298;
        border-bottom: 1px solid #E18298;

        @media (min-width: 1200px) {
            border: none;
        }
    }
}

.header__nav-text {
    margin-left: 20px;

    &:hover,
    &:focus {
        color: var(--hover-color);
    }

    @media (min-width: 1200px) {
        margin-left: 0px;
    }
}

.header__btn-group {
    display: flex;
    align-items: center;
    gap: 32px;

    @media (min-width: 1200px) {
        flex-direction: row-reverse;
        gap: 141px;
    }
}

.header__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 16px 48px 13px 48px;  */
    padding: 0px 49px;

    color: var(--hover-color);
    background-color: var(--primary-bcg-color);
    border: none;
    border-radius: 22px;
    cursor: pointer;

    margin: 0px 20px 19px 20px;

    @media (min-width: 1200px) {
        display: none;
    }

    &:hover,
    &:focus {
        background: #ECEBEB;
    }
}

.header__btn-span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 91px;
    height: 44px;

    margin-right: 15px;
}

.header__btn-main {
    display: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    // display: flex;
    align-items: center;
    justify-content: center;

    color: var(--hover-color);
    background-color: var(--primary-bcg-color);
    border: none;
    border-radius: 22px;
    cursor: pointer;
    padding: 0px 37px;

    &:hover,
    &:focus {
        background: #ECEBEB;
    }

    @media (min-width: 768px) {
        display: flex;
    }
} 

.header__btn-part {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 69px;
    height: 44px;

    margin-right: 12px;
}

.header__btn-svg {
    z-index: 100;
}

.header__menu-btn {
    border: none;
    background-color: transparent;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.header__menu-btn .header__icon-cross {
    display: none;
}

.header__menu-btn.is-open .header__icon-cross {
    display: block;
}

.header__menu-btn.is-open .header__icon-menu {
    display: none;
}

@media (max-width: 1199px) {
    .header__menu {
        display: none;
        position: absolute;
        right: 0;
        top: 0;

        background: var(--menu-bcg-color);

        width: 250px;
        height: 100%;
        padding-top: 60px;
        // padding-left: 20px;
        // padding-right: 20px;
        z-index: 3;
    }
}

.header__menu.is-open {
    display: flex;
    flex-direction: column;
}

// @media (min-width: 768px) {
//     .header__menu {
//         display: flex;
//     }
// }

@media (min-width: 1200px) {
    .header__menu-btn {
        display: none;
    }
}

/* Hero */
.hero {
    padding-top: 222px;
    padding-bottom: 222px;

    @media (min-width: 768px) {
        padding-top: 162px;
        padding-bottom: 162px;
    }

    @media (min-width: 1200px) {
        padding-top: 0px;
        padding-bottom: 557px;
    }
}

.hero__title {
    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    max-width: 218px;
    margin-bottom: 20px;

    color: var(--primary-bcg-color);

    &--purple {
        color: var(--hover-color);
        font-size: 48px;
        line-height: 0.965;

        @media (min-width: 768px) {
            font-size: 34px;
            line-height: 0.9;
        }
    }

    @media (min-width: 768px) {
        font-size: 22px;
        line-height: 1.14;
        max-width: 162px;
    }

    @media (min-width: 1200px) {
        font-size: 38px;
        line-height: 1.16;
        max-width: 277px;
        margin-bottom: 20px;
    }
}

.hero__link {
    color: var(--primary-bcg-color);

    &--reverse {
        color: var(--hover-color);
    }
}

.hero__btn {
    font-family: 'DM Sans';
    font-size: 8px;
    line-height: 1.25;
    background-color: var(--hover-color);
    border: none;
    padding: 9px 14px;
    border-radius: 20px;
    cursor: pointer;

    &:not(:last-child) {
        margin-right: 6px;
    }

    &--reverse {
        background-color: var(--primary-bcg-color);
    }

    &--reverse:hover,
    &--reverse:focus{
        background: #ECEBEB;
    }

    @media (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.3;
        padding: 11px 23px;
    }
}

.hero__position {
    position: absolute;
    bottom: -67px;
    z-index: 2;

    @media (min-width: 768px) {
        bottom: 22px;
    }

    @media (min-width: 1200px) {
        bottom: -241px;
    }
}

.hero__main-img {
    position: absolute;
    bottom: -222px;
    right: 32px;
    z-index: 1;

    @media (min-width: 768px) {
        left: 322px;
        bottom: -162px;
    }

    @media (min-width: 1200px) {
        bottom: -557px;
        left: 620px;
    }
}

.hero__position-img {
    position: relative;
}

.hero__img-milk {
    display: none;

    @media (min-width: 768px) {
        display: block;
        position: absolute;
        bottom: -146px;
    }

    @media (min-width: 1200px) {
        bottom: -497px;
    }
}

.hero__thumb {
    display: none;

    @media (min-width: 768px) {
        display: block;
        position: absolute;
        width: 120px;
        left: 162px;
        top: 33px;
    }  
    
    @media (min-width: 1200px) {
        bottom: -473px;
        left: 213px;
        top: unset;
        width: 200px;
    }
}

.hero__text {
    font-size: 8px;
    line-height: 1.5;
    margin-bottom: 7px;

    color: #ffffff;

    @media (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
}

.hero__btn-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    fill: #d7224d;
    cursor: pointer;

    @media (min-width: 1200px) {
        width: 26px;
        height: 26px;
    }
}

.header__btn-arrow {
    width: 5px;
    height: 5px;

    @media (min-width: 1200px) {
        width: 7px;
        height: 7px;
    }
}

.hero__info-position {
    display: none;
    position: absolute;
    top: -156px;
    left: 692px;

    @media (min-width: 768px) {
        display: block;
    } 

    @media (min-width: 1200px) {
        top: unset;
        bottom: -215px;
        left: 1074px;
    }
}

.hero__info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    &:not(:last-child) {
        margin-bottom: 16px;
    }
    
    height: 44px;

    @media (min-width: 1200px) {
        height: 77px;
    }
}

.hero__circle {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 50%;

    @media (min-width: 1200px) {
        width: 30px;
        height: 30px;
    }
}

.hero__number {
    font-family: 'Titan One';
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    margin-right: 10px;
    z-index: 1;
    
    color: #D41443;

    @media (min-width: 1200px) {
        font-size: 46px;
        line-height: 1.15;
    }
}

.hero__establishment {
    font-size: 8px;
    line-height: 1.25;
    margin-right: 10px;
    color: #FFFFFF;

    @media (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.3;
    }
}

.hero__img-girl {
    display: none;
    position: absolute;
    bottom: -162px;
    left: 562px;

    @media (min-width: 768px) {
        display: block;
    }

    @media (min-width: 1200px) {
        bottom: -557px;
        left: 864px;
    }
}
