:root {
    --primary-headlines-color: #FFFFFF;
    --secondary-text-color: #000000;
    --third-text-color: #D41443;
    --text-color: #907E82;
    --interactive-color: #D41342;
    --btn-hover-color: #ECEBEB;
    --hover-color: #D41443;
    --accent-color: #FFA5BA;

    --primary-bcg-color: #FFFFFF;
    --secondary-bcg-color: #FFF5F6;
    --hero-bcg-color: #FFB8CA;
    --menu-bcg-color: #E17992;
    --first-product-bcg: #FFB8CA;
    --second-product-bcg: #F0D1A5;
    --third-product-bcg: #C2E297;
    --icon-bcg-color: #FEA5BB;
    --points-bcg-color: #D9D9D9;
    --bgc-customer-reviews: #fafafa;


    --icon-fill: #FFFFFF;
    --arrow-fill: #D7224D;

    --font-family-primary: 'DM Sans', sans-serif;
    --font-family-secondary: 'Titan One', cursive;
}