<section class="about-section" id="how-made">
        <b class="about-section__label">tradition and love</b>
        <h2 class="about-section__title">how it’s made?</h2>
        <div class="container about-section__container">
            <div class="about-section__img">
                <img srcset="./images/cow@2x.png" src="./images/cow.png" alt="Picture of cow">
            </div>
            <div class="about-section__info">
                <p class="about-section__page">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas
                    eros.
                    Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="about-section__page">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
                    placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                    <br><br>
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button class="read-more-btn" type="button" data-modal-open>
                    Read more
                    <svg class="read-more-btn__icon" width="4" height="8">
                        <use href="./images/icons.svg#icon-arrow-4-8"></use>
                    </svg>
                </button>

                <div class="backdrop">
                    <div class="about-modal is-hidden" data-modal>
                        <button class="about-modal__close-btn" data-modal-close>
                            <svg class="about-modal__close-icon" width="10" height="10">
                                <use href="./images/icons.svg#icon-arrow-4-8"></use>
                            </svg>
                        </button>
                        <h3 class="about-modal__title">More info . . .</h3>
                        <p class="about-modal__page">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium repellat modi repudiandae doloremque,
                            voluptate maiores natus nesciunt iure ea blanditiis eum voluptatem?
                            <br><br>
                            Quia soluta dolore quae ex vel aut!
                        </p>
                        <p class="about-modal__page">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus ut iste, sit deleniti ea itaque at dolorum
                            laudantium delectus sequi esse quod consequatur necessitatibus, temporibus
                            fuga ex perspiciatis maiores? Ullam consequuntur placeat,
                            aliquam dignissimos voluptatibus laudantium, illum laborum!
                        </p>
                    </div>
                </div>

            </div>
        </div>
</section>