<section class="about-section">
        <b class="about-section__label">tradition and love</b>
        <h2 class="about-section__title">how it’s made?</h2>
        <div class="container">
            <div>
                <img class="about-section__img" srcset="./images/cow@2x.png" src="./images/cow.png" alt="Picture of cow">
            </div>
            <div class="about-section__container">
                <p class="about-section__page">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas
                    eros.
                    Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="about-section__page">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
                    placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                    <br><br>
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button class="read-more-btn" type="button">
                    Read more
                    <svg class="read-more-btn__icon" width="4" height="8">
                        <use href="./images/icons.svg#icon-arrow-4-8"></use>
                    </svg>
                </button>
            </div>
        </div>
</section>