<section class="advantages__section">
    <div class="advantages__container">
        <h2 class="visually-hidden">Наши преимущества</h2>
        <ul class="advantages__list">
            <li class="advantages__item item1">
                <h3 class="advantages__title title">721</h3>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item item2">
                <h3 class="advantages__title title">16kg</h3>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item item3">
                <h3 class="advantages__title title">84</h3>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>