<section class="advantages__section">
    <div class="advantages__container container">
        <h2 class="visually-hidden">Наши преимущества</h2>
        <ul class="advantages__list">
            <li class="advantages__item item1">
                <span class="advantages__text">721</span>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item item2">
                <span class="advantages__text">16kg</span>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item item3">
                <span class="advantages__text">84</span>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>