<section class="container slider">
    <div class="card">
        <img class="card__customer-photo" src="./images/testimonials1.png" alt="customer photo" />
        <div class="card__reviews">
            <div class="card__lines">
                <p class="card__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit
                    nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        <p class="card__customer">Emily, Los Angeles</p>
    </div>

    <div class="card">
        <img class="card__customer-photo" src="./images/testimonials2.png" alt="customer photo" />
        <div class="card__reviews">
            <div class="card__lines">
                <p class="card__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit
                    nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        <p class="card__customer">Lisa, San-Francisco</p>
    </div>

    <div class="card">
        <img class="card__customer-photo" src="./images/testimonials3.png" alt="customer photo" />
        <div class="card__reviews">
            <div class="card__lines">
                <p class="card__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit
                    nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        <p class="card__customer">Mia, New-York</p>
    </div>
</section>