<section class="container slider">
    <div class="card">
        <img class="card__customer-photo" src="./images/testimonials1.png" alt="customer photo" />
        <div class="card__reviews">
            <div class="card__lines">
                <p class="card__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit
                    nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        <p class="card__customer">Emily, Los Angeles</p>
        <!--         <div class="card__markers">
            <svg class="card__home" width="12px" height="12px">
                <use href="./images/icons.svg#icon-home"></use>
            </svg>
            <svg width="12px" height="12px">
                <use href="./images/icons.svg#icon-dots-12px"></use>
            </svg>
            <svg width="12px" height="12px">
                <use href="./images/icons.svg#icon-dots-12px"></use>
            </svg>

        </div> -->
    </div>
    <div class="card">
        <img class="card__customer-photo" src="./images/testimonials2.png" alt="customer photo" />
        <div class="card__reviews">
            <div class="card__lines">
                <p class="card__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit
                    nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        <p class="card__customer">Rita, New-York</p>
        <!--         <div class="card__markers">
            <svg class="card__home" width="12px" height="12px">
                <use href="./images/icons.svg#icon-home"></use>
            </svg>
            <svg width="12px" height="12px">
                <use href="./images/icons.svg#icon-dots-12px"></use>
            </svg>
            <svg width="12px" height="12px">
                <use href="./images/icons.svg#icon-dots-12px"></use>
            </svg> -->

    </div>
    </div>
    <div class="card">
        <img class="card__customer-photo" src="./images/testimonials3.png" alt="customer photo" />
        <div class="card__reviews">
            <div class="card__lines">
                <p class="card__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit
                    nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        <p class="card__customer">Jane, San Francisco</p>
        <!--         <div class="card__markers">
            <svg class="card__home" width="12px" height="12px">
                <use href="./images/icons.svg#icon-home"></use>
            </svg>
            <svg width="12px" height="12px">
                <use href="./images/icons.svg#icon-dots-12px"></use>
            </svg>
            <svg width="12px" height="12px">
                <use href="./images/icons.svg#icon-dots-12px"></use>
            </svg>

        </div> -->
    </div>
</section>