<!-- Modal -->

<div class="backdrop-hero is-hidden-hero" hero-modal>
    <div class="modal">
        <button type="button" class="modal-close-btn" hero-modal-close>
            <svg class="modal-soc-icon" width="11" height="11">
                <use href="./images/icons.svg#icon-x"></use>
            </svg>
        </button>
        <p class="modal-title">We will contact with you immediately!</p>
        <form class="modal-form">
            <div class="modal-field">
                <div class="input-wrap">
                    <input type="text" name="user-name" class="modal-input" placeholder="Name" minlength="2" required
                        id="user-name" />
                </div>
            </div>
            <div class="modal-field">
                <div class="input-wrap">
                    <input type="tel" name="user-tel" class="modal-input" placeholder="Phone number" minlength="10"
                        maxlength="10" required id="user-tel" />
                </div>
            </div>
            <div class="modal-field">
                <div class="input-wrap">
                    <input type="email" name="user-email-2" class="modal-input" placeholder="Email" required
                        id="user-email-2" />
                </div>
            </div>
            <div class="modal-field">
                <textarea name="modal-text" id="modal-text" class="model-text-area" placeholder="Details..."></textarea>
            </div>
            <button type="submit" class="modal-btn">Call us!</button>
        </form>
    </div>
</div>

<!-- Footer -->

    <footer class="footer" id="about-us">
    <div class="container">
        <div class="footer__wrapper">
            <div class="title__wrapper">
                <p class="footer__title footer__title-indent">homemade ice cream made</p>

                <p class="footer__title--accent">with passion</p>
            </div>

            <div class="social__thumb">
                <ul class="social__list">
                    <li class="social__item">
                    <a
                        class="social__link"
                        href="https://github.com/"
                        target="_blank"
                        rel="noopener, nofollow, noreferrer"
                    >
                        <svg class="social__icon" width="32" height="32" aria-label="github">
                        <use href="./images/icons.svg#icon-github-34"></use>
                        </svg>
                    </a>
                    </li>

                    <li class="social__item">
                        <a
                        class="social__link"
                        href="https://web.telegram.org/k/"
                        target="_blank"
                        rel="noopener, nofollow, noreferrer"
                        >
                            <svg class="social__icon" width="32" height="32" aria-label="telegram">
                                <use href="./images/icons.svg#icon-telegram-34"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="social__item">
                        <a
                        class="social__link"
                        href="https://www.facebook.com/"
                        target="_blank"
                        rel="noopener, nofollow, noreferrer"
                        >
                            <svg class="social__icon" width="32" height="32" aria-label="facebook">
                                <use href="./images/icons.svg#icon-facebook-34"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="contacts__wrapper">
                    <p class="footer__contacts">Feel free to contact</p>
                    <a class="footer__link" href="tel:+610383766284"> +61 (0) 383 766 284</a>
                </div>
            </div>
        </div>

        <div class="copyright-wrapper">
            <p class="footer__copyright">&#169; 2022 - IceCream. All Rights Reserved.</p>
        </div>
        
    </div>
</footer>
<a href="#" class="back-to-top"></a>

