<header class="header">
    <div class="header__container">
        <div class="header__position">
            <a href="./">
                <svg class="logo" width="199px" height="50px">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
            </a>
            <div class="header__btn-group">
                <button class="header__menu-btn" type="button" aria-expanded="false" aria-controls="header__menu" data-menu-button>
                    <svg class="header__btn-svg" width="20px" height="12px">
                        <use class="header__icon-menu" href="./images/icons.svg#icon-menu-20-12"></use>
                        <use class="header__icon-cross" href="./images/icons.svg#icon-close"></use>
                    </svg>
                </button>
                
                <button class="header__btn-main" type="button" data-hero-open>
                    <span class="header__btn-part">Buy now</span>
                    <svg width="7px" height="10px">
                        <use href="./images/icons.svg#icon-arrow-4-8"></use>
                    </svg>
                </button>
                <div class="header__menu" id="header__menu" data-menu>
                    <button class="header__btn" type="button">
                        <span class="header__btn-span">Buy now</span>
                        <svg width="7px" height="10px">
                            <use href="./images/icons.svg#icon-arrow-4-8"></use>
                        </svg>
                    </button>
                    <nav class="header__nav">
                        <ul class="header__nav-list list">
                            <li class="header__nav-part"><a class="link header__nav-item current" href="#home"><span class="header__nav-text">Home</span></a></li>
                            <li class="header__nav-part"><a class="link header__nav-item" href="#about-us"><span class="header__nav-text">About us</span></a></li>
                            <li class="header__nav-part"><a class="link header__nav-item" href="#how-made"><span class="header__nav-text">How it’s made?</span></a></li>
                            <li class="header__nav-part"><a class="link header__nav-item" href="#products"><span class="header__nav-text">Our products</span></a></li>
                            <li class="header__nav-part"><a class="link header__nav-item" href="#contact"><span class="header__nav-text">Contact</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
