<header class="header">
    <div class="container">
        <div class="header__position">
            <svg class="logo" width="199px" height="50px">
                <use href="./images/icons.svg#icon-logo"></use>
            </svg>
            <div class="header__btn-group">
                <button class="header__menu-btn" type="button" aria-expanded="false" aria-controls="header__menu" data-menu-button>
                    <svg class="header__btn-svg" width="20px" height="12px">
                        <use class="header__icon-menu" href="./images/icons.svg#icon-menu-20-12"></use>
                        <use class="header__icon-cross" href="./images/icons.svg#icon-close"></use>
                    </svg>
                </button>
                
                <button class="header__btn-main" type="button">
                    <span class="header__btn-part">Buy now</span>
                    <svg width="7px" height="10px">
                        <use href="./images/icons.svg#icon-arrow-4-8"></use>
                    </svg>
                </button>
            </div>

            <div class="header__menu" id="header__menu" data-menu>
                <button class="header__btn" type="button">
                    <span class="header__btn-span">Buy now</span>
                    <svg width="7px" height="10px">
                        <use href="./images/icons.svg#icon-arrow-4-8"></use>
                    </svg>
                </button>
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-part"><a class="link header__nav-item current" href="#home"><span class="header__nav-text">Home</span></a></li>
                        <li class="header__nav-part"><a class="link header__nav-item" href="#about-us"><span class="header__nav-text">About us</span></a></li>
                        <li class="header__nav-part"><a class="link header__nav-item" href="#how-made"><span class="header__nav-text">How it’s made?</span></a></li>
                        <li class="header__nav-part"><a class="link header__nav-item" href="#products"><span class="header__nav-text">Our products</span></a></li>
                        <li class="header__nav-part"><a class="link header__nav-item" href="#contact"><span class="header__nav-text">Contact</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Hero -->
<section class="hero">
    <div class="container hero__position-img">
        <div class="hero__position">
            <h1 class="hero__title">ice cream made with <span class="hero__title--purple">passion</span></h1>
            <button class="hero__btn" type="button"><a class="hero__link link" href="#products">Products</a></button>
            <button class="hero__btn hero__btn--reverse" type="button"><a class="hero__link hero__link--reverse link" href="#how-made">How it’s made?</a></button>
        </div>
        <picture>
            <source srcset="./images/ice-cream-desk@2x.png 472w, ./images/ice-cream-desk.png 236w" sizes="236px" media="(min-width: 1200px)">
            <source srcset="./images/ice-cream-tab@2x.png 286w, ./images/ice-cream-tab.png 143w" sizes="143px" media="(min-width: 768px)">
            <source srcset="./images/ice-cream-mob@2x.png 342w, ./images/ice-cream-mob.png 171w" sizes="171px" media="(max-width: 767px)">
            <img class="hero__main-img" src="./images/ice-cream-mob.png" alt="Ice-cream">
        </picture>
        <!-- <div class="ellipse"></div> -->
        <picture>
            <!-- <img src="./images/ellipse-mob.png" aria-hidden="true"> -->
        </picture>
    </div>
</section>