<!-- Hero -->
<section class="hero">
    <div class="hero__container">
        <div class="hero__position">
            <h1 class="hero__title">ice cream made with <span class="hero__title--purple">passion</span></h1>
            <div class="hero__box">
                <a class="hero__link " href="#products">Products</a>
                <a class="hero__link hero__link--reverse" href="#how-made">How it’s made?</a>
            </div>
        </div>
        <picture>
            <source srcset="./images/ice-cream-desk@2x.png 472w, ./images/ice-cream-desk.png 236w" sizes="236px"
                media="(min-width: 1200px)">
            <source srcset="./images/ice-cream-tab@2x.png 286w, ./images/ice-cream-tab.png 143w" sizes="143px"
                media="(min-width: 768px)">
            <source srcset="./images/ice-cream-mob@2x.png 342w, ./images/ice-cream-mob.png 171w" sizes="171px"
                media="(max-width: 767px)">
            <img class="hero__main-img" src="./images/ice-cream-mob.png" alt="Ice-cream">
        </picture>
        <div class="ellipse"></div>
        <picture>
            <source srcset="./images/milk-desk@2x.png 426w, ./images/milk-desk.png 213w" sizes="213px"
                media="(min-width: 1200px)">
            <source srcset="./images/milk-tab@2x.png 304w, ./images/milk-tab.png 152w" sizes="152px"
                media="(min-width: 768px)">
            <img class="hero__img-milk" src="./images/milk-tab.png" alt="Jug of milk">
        </picture>
        <div class="hero__thumb">
            <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et</p>
            <button class="hero__btn-modal" type="button">
                <svg class="header__btn-arrow" width="5px" height="5px">
                    <use href="./images/icons.svg#icon-arrow-right"></use>
                </svg>
            </button>
        </div>

        <div class="hero__info-position">
            <div class="hero__info">
                <div class="hero__circle"></div>
                <span class="hero__number">16</span>
                <span class="hero__establishment">cafes</span>
            </div>
            <div class="hero__info">
                <div class="hero__circle"></div>
                <span class="hero__number">23</span>
                <span class="hero__establishment">food trucks</span>
            </div>
        </div>
        <picture>
            <source srcset="./images/girl-desk@2x.png 608w, ./images/girl-desk.png 304w" sizes="304px"
                media="(min-width: 1200px)">
            <source srcset="./images/girl-tab@2x.png 380w, ./images/girl-tab.png 190w" sizes="190px"
                media="(min-width: 768px)">
            <img class="hero__img-girl" src="./images/girl-tab.png" alt="Girl is eating ice cream">
        </picture>
    </div>
</section>
<!-- Product -->
<section class="section products__section" id="products">
    <div class="container products__container">
        <b class="section__label">100% natural</b>
        <h2 class="section__title">products</h2>

        <ul class="list products__list">
            <li class="products__item" data-card>
                <div class="front pink-card">
                    <h3 class="products__title title">ice cream</h3>
                    <p class="products__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et. dolore magna aliqua facilisis.
                    </p>
                    <button type="button" class="products__button" data-flip-open>
                        <svg width="20" height="20" class="products__button--icon">
                            <use href="./images/free-icon-font-arrow-small-left-3916837.svg#products__arrow"></use>
                        </svg>
                    </button>
                </div>

                <div class="back pink-card">
                    <h3 class="products__title title">ice cream</h3>
                    <p class="products__description--additional">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo id vero
                        temporibus asperiores exercitationem beatae ipsum molestias fugit?
                    </p>
                    <button type="button" class="products__button" data-flip-close>
                        <svg width="20" height="20" class="products__button--icon">
                            <use href="./images/free-icon-font-arrow-small-left-3916837.svg#products__arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>

            <li class="products__item" data-card-second>
                <div class="front yellow-card">
                    <h3 class="products__title title">ice coffee</h3>
                    <p class="products__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et. dolore magna aliqua facilisis.
                    </p>
                    <button type="button" class="products__button" data-flip-second>
                        <svg width="20" height="20" class="products__button--icon">
                            <use href="./images/free-icon-font-arrow-small-left-3916837.svg#products__arrow"></use>
                        </svg>
                    </button>
                </div>

                <div class="back yellow-card">
                    <h3 class="products__title title">ice coffee</h3>
                    <p class="products__description--additional">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo id vero
                        temporibus asperiores exercitationem beatae ipsum molestias fugit?
                    </p>
                    <button type="button" class="products__button" data-close-second>
                        <svg width="20" height="20" class="products__button--icon">
                            <use href="./images/free-icon-font-arrow-small-left-3916837.svg#products__arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>

            <li class="products__item" data-card-third>
                <div class="front green-card">
                    <h3 class="products__title title">milkshakes</h3>
                    <p class="products__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et. dolore magna aliqua facilisis.
                    </p>
                    <button type="button" class="products__button" data-flip-third>
                        <svg width="20" height="20" class="products__button--icon">
                            <use href="./images/free-icon-font-arrow-small-left-3916837.svg#products__arrow"></use>
                        </svg>
                    </button>
                </div>

                <div class="back green-card">
                    <h3 class="products__title title">milkshakes</h3>
                    <p class="products__description--additional">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo id vero
                        temporibus asperiores exercitationem beatae ipsum molestias fugit?
                    </p>
                    <button type="button" class="products__button" data-close-third>
                        <svg width="20" height="20" class="products__button--icon">
                            <use href="./images/free-icon-font-arrow-small-left-3916837.svg#products__arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>

